/temp_downloads
.venv
__pycache__
*.parquet
transparency.duckdb
./reference_data/icd10pcs_tables_2027.xml
./reference_data/appendix_A.txt
./reference_data/HCPC2026_ANWEB.xlsx
./reference_data/PPRRVU2026_Jan_QPP.csv